html {
  touch-action: manipulation;
}
.App {
  text-align: center;
  background-color: #282c34;
}



.App-link {
  color: #61dafb;
}

.full-height{
  height: 100%;
  width: 100%;
}

.grid-container{
  height: 100vh;

}
.grid-container > div{
  padding:8px;
}

.bnd-green{
  background-color: green!important;
}
.bnd-yellow{
  background-color: yellow!important;
}
.bnd-orange{
  background-color: orange!important;
}
.bnd-red{
  background-color: red!important;
}