html {
  touch-action: manipulation;
}
body{
  overflow:hidden;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-height{
  height: 100%;
  width: 100%;
}

.grid-container{
  height: 100vh;
}

.bnd-green{
  background-color: green!important;
}
.bnd-yellow{
  background-color: yellow!important;
}
.bnd-orange{
  background-color: orange!important;
}
.bnd-red{
  background-color: red!important;
}