
canvas#game-canvas {
    display: block;
    margin: auto;
    /*position :absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast
}

.fullscreenContainer{
    width: 1024px;
    height: 1024px;
}
.fullscreenBtn {
    float:right;
    cursor:pointer;
}
.fullscreen{
    position :absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}